/* Modern browsers with `scrollbar-*` support */
@supports (scrollbar-width: auto) {

    .vnext-app-main-sider .nom-layout-body {
        scrollbar-color: #ffffff15 transparent;
        scrollbar-width: none;
        /* &:hover {
            scrollbar-width: thin;
        } */
    }
}

/* Legacy browsers with `::-webkit-scrollbar-*` support */
@supports selector(::-webkit-scrollbar) {
    .vnext-app-main-sider ::-webkit-scrollbar-thumb {
        background: #ffffff15;
    }
    .vnext-app-main-sider ::-webkit-scrollbar {
        width: 3px;
    }
}



.vnext-app-main-sider {
    width: 70px !important;
    background: #fff;
    box-shadow:  inset 0 4px 8px -5px rgba(0, 0, 0, 0.15);
}

.vnext-app-sub-sider {
    width: 180px !important;
    background: #fff;
    box-shadow:  inset 0 4px 8px -5px rgba(0, 0, 0, 0.15);
}

.vnext-app-sub-menu {
    padding-top: 10px;
}

.vnext-app-sub-menu >li >.nom-menu-item {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}

.vnext-app-sub-menu >li >.nom-menu-item .nom-menu-item-title {
    color: #031B4F;
}

.vnext-app-sub-menu >li >.nom-menu-item .nom-menu-item-icon {
    color: #767676;
}

.vnext-app-sub-menu >li .nom-menu-item.s-selected {
    background-color: #AFBAC820;
}

.vnext-app-sub-menu >li .nom-menu-item.s-selected >.nom-menu-item-title {
    color: #597EF7;
}

.vnext-app-sub-menu >li .nom-menu-item.s-selected >.nom-menu-item-icon {
    color: #597EF7;
}