/* Modern browsers with `scrollbar-*` support */
@supports (scrollbar-width: auto) {

    .vnext-platform-main-sider .nom-layout-body {
        scrollbar-color: #ffffff15 transparent;
        scrollbar-width: none;
        /* &:hover {
            scrollbar-width: thin;
        } */
    }
}

/* Legacy browsers with `::-webkit-scrollbar-*` support */
@supports selector(::-webkit-scrollbar) {
    .vnext-platform-main-sider ::-webkit-scrollbar-thumb {
        background: #ffffff15;
    }
    .vnext-platform-main-sider ::-webkit-scrollbar {
        width: 3px;
    }
}

.vnext-platform-main-sider {
    width: auto !important;
    min-width: 80px;
    background: #14234A;
    color: #ffffff85;
    text-align: center;
    padding: .5rem 0;
}

.vnext-platform-main-sider-logo {
    display: inline-flex;
    width: 60px;
    height: 60px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background: #fff;
}