/* Modern browsers with `scrollbar-*` support */
@supports (scrollbar-width: auto) {

    .vnext-app-main-sider .nom-layout-body {
        scrollbar-color: #ffffff15 transparent;
        scrollbar-width: none;
        /* &:hover {
            scrollbar-width: thin;
        } */
    }
}

/* Legacy browsers with `::-webkit-scrollbar-*` support */
@supports selector(::-webkit-scrollbar) {
    .vnext-app-main-sider ::-webkit-scrollbar-thumb {
        background: #ffffff15;
    }
    .vnext-app-main-sider ::-webkit-scrollbar {
        width: 3px;
    }
}


.vnext-app-status-bar {
    background: #0A47ED;
    color: #fff;
    padding: 0 1.5rem;
}

.vnext-app-sub-sider {
    width: 180px !important;
}

















.vnext-app-main-sider {
    width: auto !important;
    min-width: 70px;
    background: #fff;
    color: #333;
    text-align: center;
}


.vnext-platform-main-sider .nom-layout-footer {
    padding-top: 1rem;
}

.vnext-platform-main-hd {
    height: 5rem !important;
}



.vnext-app-main-menu.nom-menu-compact .nom-icon {
    font-size: 1.75rem !important;
}

.vnext-app-main-menu:not(.nom-menu-compact) .nom-menu-item {
    margin:0 .5rem;
    border-radius: 4px;
}

.vnext-app-main-menu .nom-menu-item.s-selected {
    background-color: rgba(var(--nom-color-primary),.2) !important;
}

